
.root {
  color: white;
  margin: 260px auto auto;
  max-width: 280px;
  width: 100%;
}

.logo {
    display: block;
    position: relative;
    margin: 0 auto 60px auto;
    max-width: 178px;

    object {
      position: relative;
      display: inherit;
      max-width: 100%;
    }
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}