@import "../../../variables.css";

.list-container {
  font-family: "ITC Conduit W01", sans-serif;
  color: #263d50;
  padding: 10px 0;
  margin-bottom: 20px;

  .video-header {
    margin-bottom: 25px;
  }
}