.emptylegs-description {
  background-color: #faf7f6;
  padding-top: 150px;

  .heading-title {
    font-family: "ITC Conduit W01", sans-serif;
    font-size: 4rem;
    font-weight: 500;

    h1 {
      color: #3e5970;
      font-size: 4rem;
      font-weight: 500;
      text-shadow: 1px 2px 15px #aec6da;
      line-height: 1.15;
      text-transform: uppercase;
    }
  }

  .paragraph {
    font-family: "ITC Conduit W01", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #3e5970;
    padding: 0 20px;

    p {
      line-height: 1.15;
    }
  }

  @media (max-width: 768px) {
    padding-top: 50px;

    .paragraph-title {
      font-size: 40px;

      h3 {
        font-size: 40px;
      }
    }
  }
}
