.emptyLeg {
  padding: 15px;

  .emptyLegs-form {
    display: flex;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .avatar-placeholder {
      max-width: 300px;
      width: 100%;
      padding: 40px 20px;
      background: rgba(255, 255, 255, 0.02);
      border-radius: 2px;
      margin-left: 15px;

      &:hover {
        .avatar-upload {
          border-color: #0093ff;
          cursor: pointer;
        }
      }
    }

    .lj-form {
      background: rgba(255, 255, 255, 0.02);
      padding: 20px;
      flex: 1;
      border-radius: 2px;
    }

    :global {
      .pt-datepicker {
        justify-content: center;
      }
    }
  }
}

.emptyLegs {
  table {
    width: 100%;

    .actionCol {
      text-align: right !important;
      min-width: 82px;
    }

    thead {
      tr {
        th {
          cursor: pointer;

          &:nth-last-child(1):not(.actionCol) {
            @media (max-width: 800px) {
              display: none;
            }
          }

          &:nth-last-child(2) {
            @media (max-width: 800px) {
              display: none;
            }
          }

          &:nth-last-child(3) {
            @media (max-width: 600px) {
              display: none;
            }
          }

          &:nth-last-child(4) {
            @media (max-width: 400px) {
              display: none;
            }
          }
        }
      }
    }

    tbody {
      tr {
        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }

        &.isActive {
          background-color: rgba(0, 0, 0, 0.5);
        }

        td {
          outline: 0;
          vertical-align: middle;

          &:nth-last-child(1):not(.actionCol) {
            @media (max-width: 800px) {
              display: none;
            }
          }

          &:nth-last-child(2) {
            @media (max-width: 800px) {
              display: none;
            }
          }

          &:nth-last-child(3) {
            @media (max-width: 600px) {
              display: none;
            }
          }

          &:nth-last-child(4) {
            @media (max-width: 400px) {
              display: none;
            }
          }
        }
      }
    }
  }

  .avatar {
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
    height: 30px;
    width: 30px;
  }
}
