.editor {
  background-color: #FFF;
  flex: 1 0;
  cursor: text;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: center;

  :global {
    .megadraft {
      margin: 40px;
      padding: 40px 90px;
      max-width: 960px;
      width: 100%;
    }
  }
}