.destination {
  margin-bottom: 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 2px;

  img {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  .infos {
    padding: 12px 20px;
  }

  .title {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "ITC Conduit W01", sans-serif;
    color: #3e5970;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: uppercase;
  }

  .see-more {
    color: #b6cada;

    &:hover {
      color: #3e5970;
      font-weight: 500;
    }
  }
}
