.map-list {
  background-color: #faf7f6;
  margin: 80px 0;

  .title {
    margin-bottom: 20px;
  }

  .map-container {
    height: 300px;
    margin-bottom: 20px;
    position: relative;

    .caption {
      position: absolute;
      padding: 15px;
      width: 100%;
      background-color: #b5b5b5;
      bottom: 0;

      .caption-location {
        float: left;
      }

      svg {
        float: right;
      }
    }
  }

  :global {
    .slick-dots li button:before {
      font-size: 2rem;
    }

    .slick-slide {
      padding: 0 10px;
    }

    .slick-list {
      margin: 0 -10px;
    }
  }
}
