@import "../../../../variables.css";

.table-compare {
  font-family: "ITC Conduit W01", sans-serif;
  border-collapse: separate;
  border-spacing: 8px 0;
  text-align: center;

  thead th {
    border: none;
  }

  th[scope="col"] {
    padding: 15px;
    background-color: #b5b5b5;
    color: white;
    font-family: "ITC Conduit W01", sans-serif;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    vertical-align: middle;
    max-width: 90px;

    &.lunajets {
      background-color: var(--dark-blue);
    }
  }

  th[scope="row"] {
    font-family: "ITC Conduit W01", sans-serif;
    text-align: left;
    background-color: var(--light-grey);
    color: var(--corporate-blue);
    padding-left: 15px;
    padding-right: 15px;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      background-color: #d9d9d9;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  tr {
    td {
      background-color: white;
      position: relative;
      border: none;

      &:after {
        content: "";
        position: absolute;
        background-color: var(--light-grey);
        width: 80%;
        height: 1px;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }

    &:last-child {
      td:after,
      th:after {
        display: none;
      }
    }
  }
}

.section-title1 {
  position: relative;
  font-size: 2rem;
  font-family: "ITC Conduit W01", sans-serif;

  @media (max-width: 767.98px) {
    font-size: 1.5rem;
  }

  &:before {
    position: absolute;
    content: "";
    height: 2px;
    left: -55px;
    top: 50%;
    margin-top: -1px;
    width: 40px;
    background: var(--light-blue);

    @media (max-width: 767.98px) {
      display: none;
    }
  }
}
