@import "../../variables.css";
.link-list span {
  color: #929292;
}
.footer-links-first,
.footer-links-second {
  background-color: #d7d6d5;
  font-family: "Ubuntu Mono", monospace;
  padding: 30px;

  @media (max-width: 768px) {
    & {
      padding: 15px 20px;
    }
  }

  .link-title {
    color: #838383;
    font-size: 20px;
    padding: 12px 0;
  }

  ul {
    list-style-type: none;
    font-size: 14px;
    padding-left: 0;
    margin: 0;

    li {
      padding: 6px 0;

      a {
        text-decoration: none;
        color: #929292;
      }

      @media (max-width: 768px) {
        & {
          padding: 4px 0;
        }
      }
    }
  }

  .request-btn {
    font-size: 1rem;
    padding: 10px;
    margin: 15px 0;
    background: #ef4343;
    color: white;
  }
}

.footer-links-second {
  :global {
    .nav-item {
      display: flex;
      align-items: center;
      box-shadow: -1px 0 0 0 #eee, 1px 0 0 0 #eee;
      padding: 0;
      height: 42px;
      margin-bottom: 10px;
      border: 1px solid #888;

      &:nth-last-child(1) {
        box-shadow: none;
      }

      &.dropdown {
        padding: 0;
        box-shadow: none;
      }

      .nav-link,
      .dropdown-toggle {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        cursor: pointer;
        color: #929292;

        &:hover {
          background-color: #102232;
          color: #fff;
        }
      }

      a {
        padding: 10px;
        color: white;
        text-decoration: none;
        font-family: "ProximaNova-Semibold", sans-serif;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 500;

        @media (max-width: 768px) {
          font-size: 10px;
        }

        @media (max-width: 320px) {
          font-size: 10px;
        }
      }

      &:last-of-type {
        padding: 0;
      }
    }

    .dropdown-menu {
      background: #fff;
      margin: 0;
      border-radius: 0 !important;
      border: 0;
      padding: 0;
      width: 100%;

      li {
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
      }

      .dropdown-item {
        color: #292b2c;
        padding: 5px 15px;
        font-weight: normal;
      }
    }
  }
}