.teamMember {
  padding: 15px;

  .teammembers-form {
    display: flex;

    @media(max-width: 768px) {
      flex-direction: column;
    }

    .avatar-placeholder {
      max-width: 300px;
      width: 100%;
      display: flex;
      padding: 40px 20px;
      background: rgba(255,255,255,0.02);
      border-radius: 2px;
      flex-direction: column;
      align-items: center;
      margin-right: 15px;

      @media(max-width: 768px) {
        max-width: 100%;
        margin: 0 0 15px;
        padding: 20px;
      }

      &:hover {
        .avatar-upload {
          border-color: #0093ff;
          cursor: pointer;
        }
      }

      span {
        font-size: 13px;
        opacity: 0.3;
        max-width: 150px;
        text-align: center;
        margin-top: 40px;
      }

      .avatar-upload {
        border-radius: 100%;
        height: 120px;
        width: 120px;
        background: transparent;
        position: relative;
        border: 2px dashed rgba(255,255,255,0.1);
        cursor: pointer;
        display: flex;
        justify-content: center;
        overflow: hidden;

        &.isFilled {
          border: 0;
        }

        img {
          border-style: none;
          position: absolute;
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: 50% 50%;
        }


        input[type='file'] {
          position: absolute;
          opacity: 0;
          width: 100%;
          top: 0;
          left: 0;
          height: 100%;
          -webkit-appearance: none;
        }
      }
    }

    .lj-form {
      background: rgba(255,255,255,0.02);
      padding: 20px;
      flex: 1;
      border-radius: 2px;
    }
  }
}

.teamMembers {
  table {
    width: 100%;

    .actionCol {
      text-align: right !important;
      min-width: 82px;
    }

    thead {
      tr {
        th {
          cursor: pointer;

          &:nth-last-child(1):not(.actionCol) {
            @media(max-width: 800px) {
              display: none;
            }
          }

          &:nth-last-child(2) {
            @media(max-width: 800px) {
              display: none;
            }
          }

          &:nth-last-child(3) {
            @media(max-width: 600px) {
              display: none;
            }
          }

          &:nth-last-child(4) {
            @media(max-width: 400px) {
              display: none;
            }
          }
        }
      }

    }

    tbody {
      tr {
        &:hover {
          background-color: RGBA(255, 255, 255, 0.2);
        }

        &.isActive {
          background-color: rgba(0,0,0,0.5);
        }

        td {
          outline: 0;
          vertical-align: middle;

          &:nth-last-child(1):not(.actionCol) {
            @media(max-width: 800px) {
              display: none;
            }
          }

          &:nth-last-child(2) {
            @media(max-width: 800px) {
              display: none;
            }
          }

          &:nth-last-child(3) {
            @media(max-width: 600px) {
              display: none;
            }
          }

          &:nth-last-child(4) {
            @media(max-width: 400px) {
              display: none;
            }
          }
        }
      }
    }

  }

  .avatar {
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
    height: 30px;
    width: 30px;
  }
}
