.map-list {
  background-color: #faf7f6;

  .title {
    margin-top: 30px;
  }

  .map-container {
    min-height: 300px;
    margin-bottom: 20px;

    .caption {
      position: absolute;
      padding: 15px;
      width: calc(100% - 30px);
      bottom: 0;
      background-color: #263d50;

      .caption-location {
        float: left;
      }

      svg {
        float: right;
      }
    }
  }
}
