/*@import '../../../styles/fieldInputs.css';*/

-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.container{
  background-color: #1b3143;
  position: absolute;
  overflow-y: scroll;
  height: auto;
  max-height: 100%;
  display: none;
}

.options-list{
  list-style: none;
  padding: 0;
  color: white;
  z-index: 2;
}

.option{
  padding: 0;
}

.option:hover{
  background-color: #ff5300;
}

.active{
  display: block;
}

.description{
  display: flex;
  justify-content: left;
}
