.container-header{
    padding-top: 10px;
    display: inline-flex;

    h3{
      color: #B1B4BF;
      font-size: 16px;
      font-weight: bold;
  }
}



.container-content{
    margin-top: 20px;

    .entry{
      display: flex;
      flex-direction: column;
      margin: 10px 0px;

      input{
        width: 100%;
      }

      textarea{
        width: 100%;
        height: 150px;
      }

      label{
        color: #B7B9C4;
        font-size: 12px;
        font-weight: bold;
        margin: 0px;
      } 
    }


}

.container-action{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    
    button{
      margin: 10px 0px;
    }
}

.redirections{

    label{
        color: #B7B9C4;
        font-size: 12px;
        font-weight: bold;
        margin: 0px;
    } 

    button{
        border-radius: 0px;
    }

    input{
        padding: 0px 5px 0px 15px;
    }
    ul{
        list-style: none;
        margin: 0px;
        padding: 0px 15px;
        background-color: #4a586a;
        li{
            font-size: 12px;
            display: flex;
            padding: 5px 0px;
            span{
                flex: 1;
                color: white;
            }

            .remove-icn{
                cursor: pointer;
                &:hover > * {
                    color: red;
                };
            }
        }
    }
}


.container-content {
    color: #B7B9C4;
    font-size: 12px;
    margin-top: 5px;
}

.success{
  border: 2px solid #1BAF35;
  /* background: url(./gfx/success.png); */
  background-repeat: no-repeat;
  background-position-x: 320px;
  background-position-y: 10px;
  background-size: 20px;
}

.error{
  border: 2px solid #B5222C;
  /* background: url(./gfx/cross.png); */
  background-repeat: no-repeat;
  background-position-x: 320px;
  background-position-y: 10px;
  background-size: 20px;
}

.label-error{
  color: #ff0011;
}
