table {
  background-color: #3e5970 !important;
  table-layout: fixed;

  td {
    border-color: rgba(182, 202, 218, 0.45) !important;
  }

  .aircraft-title {
    padding: 1rem 1rem 2.5rem !important;
  }
}

tr {
  td {
    text-align: center;
    padding: 1.25rem 1rem !important;
    position: relative;

    > span {
      color: #fff;
      font-size: 1.25rem;
      font-family: "ProximaNova-Semibold", sans-serif;

      @media (max-width: 768px) {
        font-size: 0.75rem;
      }
    }

    button {
      background-color: transparent;
      color: #fff !important;
      border-color: #fff !important;
    }
  }

  td:first-child {
    display: none;
    background-color: rgba($color: #fff, $alpha: 0.15);
  }

  td:nth-of-type(2) {
    text-align: left;
  }

  td:nth-of-type(3) {
    background-color: rgba($color: #fff, $alpha: 0.15);
  }
}

tr:first-child,
tr:nth-of-type(2) {
  td {
    border: 0;
  }
}

tr:first-child {
  td {
    padding: 1.5rem !important;
    position: relative;
  }
}

.btn-close {
  border-radius: 50%;
  font-size: 20px;
  line-height: 1.25;
  width: 25px;
  height: 25px;
  background-color: rgb(255, 66, 66);
  color: #fff;
  position: absolute;
  top: -12px;
  right: -12px;
  z-index: 100;
  cursor: pointer;
}

.btn-close-second {
  border-radius: 50%;
  font-size: 20px;
  line-height: 1.25;
  width: 25px;
  height: 25px;
  background-color: rgb(255, 66, 66);
  color: #fff;
  position: absolute;
  top: -12px;
  right: -12px;
  z-index: 999;
  cursor: pointer;
}

.property {
  font-family: "ProximaNova-Semibold", sans-serif;
  text-transform: uppercase;

  .button-edit-admin {
    position: relative;
  }
}

.unit-switch {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  > div {
    margin: 0 15px;
  }
}

@media screen and (max-width: 768px) {
  .unit-switch {
    justify-content: flex-start;
  }

  tr {
    td {
      padding: 0.75rem !important;
    }

    td:first-child {
      display: table-cell;
    }

    td:nth-of-type(2) {
      text-align: center;
    }

    td:nth-of-type(3) {
      display: none;
    }

    td:last-child {
      background-color: rgba($color: #fff, $alpha: 0.15);
    }
  }

  tr:first-child {
    td {
      padding: 0.75rem !important;
    }
  }

  .btn-close-second {
    display: block;
  }
}

@media screen and (max-width: 568px) {
  tr,
  tr:first-child {
    td {
      padding: 0.75rem 0.5rem !important;
    }
  }
}

@media screen and (max-width: 360px) {
  tr,
  tr:first-child {
    td {
      padding: 0.2rem 0.1rem !important;
    }
  }
}
