:global {
  .pt-toast-container {
    z-index: 999 !important;
  }
}
.login-root {

  .title {
    position: relative;
    padding: 10px 0;
    margin: 0;
    text-align: center;
    color: white;
    font-family: "ITC Conduit W01", sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .input-container {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0;
    background-color: white;
    border-bottom: 1px solid var(--light-blue);
    height: 58px;

    &.radis-top {
      border-radius: 3px 3px 0 0;
    }

    &.radis-bottom {
      border-radius: 0 0 3px 3px;
    }

    &:last-child {
      border: none;
    }

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
    }
    .input {
      display: flex;
      flex-direction: column;
      flex: 6;
      height: 100%;

      input {
        outline: none;
        z-index: 1;
        position: relative;
        background: none;
        width: 100%;
        height: 100%;
        border: 0;
        color: #3e5970;
        font-size: 16px;
        font-weight: 400;
      }
      
      /* Change the white to any color ;) */
      input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px white inset;
      }

      &.is-error {
        color: var(--dark-red);
        input {
          color: var(--dark-red);
          height: 30%;
          margin-top: 15px;

          &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: var(--dark-red);
            opacity: 1; /* Firefox */
          }
        }
      }
      .error {
        font-size: 10px;
      }
    }
    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      cursor: pointer;
    }

  }

  .text {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: var(--light-blue);
    font-family: "ITC Conduit W01", sans-serif;
    font-size: 16px;
    line-height: 1;

    .link {
      font-weight: 500;
      color: white;
      border-bottom: 1px solid white;
      cursor: pointer;
    }
  }

  .buttons {
    width: 100%;

    .pt-button {
      width: 100%;
      height: 50px;
      color: white;
      background-color: var(--light-grey);
      border: none;
      border-radius: 3px;
      outline: none;
      font-family: "ITC Conduit W01", sans-serif;
      font-size: 22px;
      font-weight: 500;
      cursor: pointer;
    }

    .pt-success {
      background-color: var(--light-red);
    }
  }
}

