.compare-jets {
  h1 {
    font-size: 60px;
  }

  // @include media-breakpoint-up(xs) {
  @media (max-width: 768px) {
    h1 {
      font-size: 40px;
    }
  }

  .video {
    overflow: hidden;
    border-radius: 5px;
  }

  .paragraph {
    span {
      color: #fff !important;
    }
  }

  a {
    color: #f8f9fa;

    :hover {
      color: #212529;
    }
  }
}
