:global {
  .gallery-modal {
    &.pencil-modal {
      max-height: 95vh;
      height: auto !important;
      box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
      border-radius: 4px;
    }
  }
}

.gallery-wrap {
  overflow-y: auto;
  height: calc(100% - 80px);

  :global {
    .not-selected:hover {
      outline: 2px dashed #06befa;
    }
  }
}

.gallery-btn-group {
  text-align: right;

  button {
    display: inline-block;
    max-width: 120px;
    width: 100%;
    margin-top: 20px;
    margin-left: 10px;
  }

  .button-edit-ok {
    background-color: #b51f24;
    color: white;
  }
}

.slide-creating-form {
  width: 100%;
  display: flex;
  background: rgba(255, 255, 255, 0.02);
  border-radius: 4px;
  position: relative;
  padding: 20px;
  align-items: center;
}

.slide-placeholder {
  width: 100%;
  display: flex;
  flex: 2 0;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (max-width: 768px) {
    max-width: 100%;
    margin: 0 15px 0 0;
    padding: 20px;
  }

  :global {
    .pt-popover-target {
      position: absolute;
      align-self: flex-end;
      z-index: 10;
      padding: 0 10px;
    }
  }

  .slide-upload {
    height: 150px;
    width: 80%;
    background: transparent;
    position: relative;
    border: 2px dashed rgba(255, 255, 255, 0.1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 12px;

    &:hover {
      border-color: #0093ff;
      cursor: pointer;

      button {
        background: rgba(138, 155, 168, 0.15);
      }
    }

    &.isFilled {
      border: 0;
    }

    img {
      border-style: none;
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }

    button {
      width: 100%;

      svg {
        fill: none;
        stroke: grey;
        stroke-width: 1;
      }

      &:hover {
        border-color: #0093ff;
        cursor: pointer;
        opacity: 0.7;

        svg {
          stroke: #0093ff;
        }
      }
    }
  }
}

.slide-inputs,
.slide-infos {
  flex: 3 0;
  padding: 15px;
}

.slide-button-add,
.slide-button-remove {
  flex: 1 0;
  padding: 15px;

  button {
    height: 60px;
  }
}

.current-slides {
  overflow-y: scroll;
  height: calc(95vh - 440px);
  padding: 20px;
  background: rgba(255, 255, 255, 0.02);
  border-radius: 4px;

  .slide-item {
    display: flex;
    align-items: center;

    .slide-photo {
      width: 100%;
      display: flex;
      flex: 2 0;
      padding: 15px;
      flex-direction: column;
      align-items: center;
      position: relative;

      img {
        height: 150px;
        width: 80%;
        border-radius: 4px;
      }
    }
  }
}
