.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  position: relative;
  padding: 4rem 4rem;

  .text {
    font-weight: bold;
    font-size: 2rem;
    color: #fff;
  }

  .btn-read-more {
    background-color: transparent;
    width: 50%;
    margin: 1.5rem auto 0;
    cursor: pointer;
    font-size: 22px;
    text-transform: uppercase;
    font-family: "ITC Conduit W01", sans-serif;
    font-weight: 500 !important;
    font-style: normal;
    padding: 6px 12px;
    text-align: center;
  }
}

.partner-link-wrapper {
  font-family: "ITC Conduit W01", sans-serif;
  padding: 0 50px;
  flex: 1;

  a {
    color: var(--dark-blue) !important;
  }
  span {
    font-size: 1.2rem;
  }
}

.bottom-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: .5rem 3rem;
}

.des-wrapper {
  flex-direction: column;
  display: flex;
}

.content-wrapper {
  flex: 9;
}

.title {
  margin-bottom: 10px;
}

.mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .content {
    padding: 2rem 1rem;
    min-height: 300px;

    .text {
      font-size: 1.4rem;
    }
  }

  .bottom-bar {
    padding: .5rem 1rem;
    position: relative;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .partner-link-wrapper {
    padding: 5px 0 5px 15px !important;
  }
}