.widget {
  min-width: 320px;
  max-width: 620px;
  margin: 15px;
  display: inline-flex;
  flex-direction: column;
  height: auto;
  position: relative;

  .header {
    display: flex;
    justify-content: space-between;
  }

  .content {

    :global {
      .pt-input {
        flex: 1
      }
    }
  }

}
