@import "../../../../variables.css";

.jet-cost-description {
  background-color: var(--pale);

  .paragraph {
    p {
      font-family: "ITC Conduit W01", sans-serif;
      font-size: 1.2rem;
      font-weight: 300;
      margin-bottom: 20px;
    }
  }

  .heading {
    font-size: 4rem;

    @media (max-width: 767.98px) {
      font-size: 3rem;
    }
  }
}

.save-up-column {
  margin-top: 100px;

  @media (max-width: 767.98px) {
    margin-top: 120px;
  }
}

.save-up-column-wrap {
  background-color: var(--light-grey);
  padding: 20px;
  height: 100%;
  color: #273d50;

  .circle-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -90px;
    height: 150px;

    span {
      font-family: "ITC Conduit W01", sans-serif;
      font-size: 1.7rem;
      color: white;
      text-transform: uppercase;
      font-weight: 500;
      line-height: 1;
      position: relative;

      &:nth-child(2) {
        font-size: 1.75rem;
      }
    }
  }

  .circle-sign {
    width: 150px;
    height: 150px;
    background-color: var(--light-red);
    border-radius: 75px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
  }

  .ads-title {
    text-align: center;
    margin-top: 30px;
    font-size: 1.5rem;
    font-family: "ITC Conduit W01", sans-serif;
    margin-bottom: 50px;

    a {
      color: #273d50;
    }
  }

  .ads75 {
    background: url("./gfx/jetcost75.png") no-repeat center;
  }

  .ads50 {
    background: url("./gfx/jetcost50.png") no-repeat center;
  }

  .ads25 {
    background: url("./gfx/jetcost25.png") no-repeat center;
  }

  h3 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 100px;
    min-height: 66px;
  }

  p {
    font-family: "ITC Conduit W01", sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
  }
}

.illustration {
  @media (max-width: 767.98px) {
    display: none;
  }

  .image {
    background-color: var(--light-grey);
    text-align: center;
    padding: 25px;

    img {
      width: 100%;
    }
  }

  .price {
    background-color: var(--light-grey);
    padding: 20px;
    display: flex;
    flex-direction: column;

    .price-description {
      background-color: white;
      padding: 10px;
      display: block;
      width: 100%;
      text-align: center;
      color: #767473;
      font-family: "ITC Conduit W01", sans-serif;
      text-transform: uppercase;
      font-weight: 500;
      line-height: 1;
    }

    span {
      &:nth-child(1) {
        padding-bottom: 0;
      }

      &:nth-child(2) {
        padding-top: 0;
      }
    }
  }

  .action-button {
    padding: 20px;

    a {
      font-size: 1rem;
      border: none;
      padding: 12px;
      max-width: 100%;
    }
  }
}
