.suggester {
  width: 100%;

  :global {
    .pt-input-group {
      &.pt-disabled {
        pointer-events: none;

        input {
          -webkit-box-shadow: none;
          box-shadow: none;
          background: rgba(57, 75, 89, 0.5);
          color: rgba(191, 204, 214, 0.5);
        }
      }
    }
  }
}

.suggester-last {
  margin-bottom: 280px;
}


.banner-placeholder {
  width: 100%;
  display: flex;
  padding: 30px;
  background: rgba(255, 255, 255, 0.02);
  border-radius: 2px;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (max-width: 768px) {
    max-width: 100%;
    margin: 0 15px 0 0;
    padding: 20px;
  }

  .banner-label {
    font-size: 13px;
    opacity: 0.3;
    text-align: center;
    margin-top: 20px;
  }

  :global {
    .pt-popover-target {
      position: absolute;
      left: 90%;
    }
  }

  .banner-upload {
    /* border-radius: 0; */
    height: 150px;
    width: 80%;
    background: transparent;
    position: relative;
    border: 2px dashed rgba(255, 255, 255, 0.1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 12px;

    &:hover {
      border-color: #0093ff;
      cursor: pointer;

      button {
        background: rgba(138, 155, 168, 0.15);
      }
    }

    &.isFilled {
      border: 0;
    }

    img {
      border-style: none;
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }

    button {
      width: 100%;
    }
  }
}

.link-text {
  flex: 1 0;
}

.link-remove-btn {
  text-align: right;
}

.footer-order {
  order: 99;
  margin-bottom: 100px;
}

