.change-password-root {
  width: 450px;
  height: auto;
  padding: 10px;
  background-color: white;
  text-align: center;
  position: relative;

  .title {
    position: relative;
    color: var(--corporate-blue);
    font-family: "ITC Conduit W01", sans-serif;
    font-size: 22px;
    padding: 15px 0;
    margin: 0;
    font-weight: 400;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .text {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: var(--corporate-blue);
    font-family: "ITC Conduit W01", sans-serif;
    font-size: 16px;
    line-height: 1.2;

    .link {
      font-weight: 500;
      color: var(--corporate-blue);
      border-bottom: 1px solid var(--corporate-blue);
      cursor: pointer;
    }
  }

  .buttons {
    width: 100%;
    margin-top: 10px;

    .pt-button {
      margin-top: 10px;
      width: 100%;
      height: 50px;
      color: white;
      outline: none;
      border: none;
      border-radius: 3px;
      background-color: var(--light-grey);
      font-family: "ITC Conduit W01", sans-serif;
      font-size: 22px;
      font-weight: 500;
      cursor: pointer;
    }

    .pt-success {
      background-color: var(--light-red);
    }
  }

  form {
    padding: 0px 30px;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px 0 0 0;
    font-family: "ITC Conduit W01", sans-serif;

    .label {
      color: var(--corporate-blue);
      width: 100%;
      height: 25px;
      font-size: 16px;
      font-weight: 500;
      text-align: left;
    }

    .input {
      display: flex;
      flex-direction: column;
      flex: 6;
      height: 45px;
      border: 1px solid var(--light-blue);

      input {
        outline: none;
        z-index: 1;
        position: relative;
        background: none;
        width: 100%;
        height: 100%;
        border: 0;
        color: #3e5970;
        font-size: 16px;
        font-weight: 400;
        padding-left: 10px;
      }
      
      /* Change the white to any color ;) */
      input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px white inset;
      }

      &.is-error {
        color: var(--dark-red);
        input {
          color: var(--dark-red);

          &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: var(--dark-red);
            opacity: 1; /* Firefox */
          }
        }
      }

      .error {
        text-align: left;
        padding-left: 10px;
        font-size: 10px;
      }

      .password-error-container {
        position: absolute;
        z-index: 996;
        background-color: rgba(62, 89, 112, 0.95);
        padding: 10px;
        top: 70px;
        left: 25%;
        color: white;
        font-size: 10px;
        width: 180px;

        &:before {
          position: absolute;
          content: "";
          height: 0;
          left: 82.5px;
          top: -7px;
          width: 0;
          border-bottom: 7px solid rgba(62, 89, 112, 0.95);;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
        }

        .row {
          display: flex;
          width: 100%;
          padding: 3px 0;
          font-weight: 700;

          &.error {
            color: var(--light-grey);
            font-weight: 300;
          }

          .icon {
            flex: 1;
            margin-right: 5px;
          }
          .desc {
            text-align: left;
            flex: 8;
          }
        }
      }     
    }
  }

  @media screen and (max-width: 768px) {
    width: 340px;
    form {
      padding: 0 10px;
    }
    .input-container {
      .password-error-container{
        left: 20%;
      }
    }
  }
}
