<<<<<<< Updated upstream
=======


>>>>>>> Stashed changes
.chat-container{
    float: left;
    width: 100%;
}
.content{
    color: white;
}



.table td{
    border-bottom: 1px solid #313D4F;
    vertical-align: middle;
    text-align: center;
}


.table thead th{
    vertical-align: middle;
    color: #b2b9c4;
    font-size: 14px;
    text-align: center;
    border: none;
}

td{
    font-size: 14px;
}

.table-avatar{
}

tr.active{
    background-color: #FF5300;
    border: 1px solid #FF7735;
}

tbody > tr.nth-child(even){
    background-color: black;
}

tbody > tr:hover{
    background-color: #FF5300;
}
