.saved-root {
  width: 300px;
  height: auto;
  padding: 10px;
  background-color: white;
  text-align: center;

  .title {
    position: relative;
    color: var(--corporate-blue);
    font-family: "ITC Conduit W01", sans-serif;
    font-size: 22px;
    padding: 15px 0;
    margin: 0;
    font-weight: 400;
  }

  .desc {
    font-family: "ITC Conduit W01", sans-serif;
    font-size: 17px;
    color: var(--corporate-blue);
    padding: 5px 20px;
    line-height: 1;
  }

  .buttons {
    width: 100%;
    margin-top: 10px;

    .pt-button {
      margin-top: 10px;
      width: 100%;
      height: 50px;
      color: white;
      outline: none;
      border: none;
      border-radius: 3px;
      background-color: var(--light-red);
      font-family: "ITC Conduit W01", sans-serif;
      font-size: 22px;
      font-weight: 500;
      cursor: pointer;
    }
  }
}
