.container{
  width: 500px;
  min-height: 200px;
  margin: 15px;
  background-color: #12212e;
  border-radius: 10px;
  padding: 0;
  border: 1px solid #283546;
  -webkit-box-shadow: 0px 0px 10px 0px #12212e;
  box-shadow: 0px 0px 10px 0px #12212e;
  display: table;
}

.fieldTextArea{
  width: 100% !important;
  min-height: 150px;
  font-size: 16px;
  padding: 20px;
}

.actionsReq{
  font-size: 14px;
  color: #91a1b3;
}

.header {
  display: flex;
  justify-content: space-between;
}

.sep{
  border-bottom: 1px solid #313d4f;
}

.field{
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;

  .input{
    width: 100%;
  }
}

.fieldLabel{
  color: #91a1b3;
  display: block;
  margin-bottom: 0px;
}

.actions{
  display: flex;
  justify-content: flex-end;
}

.actionsBtns{
  margin: 0px 10px 10px 0px;

  &:focus{
    outline: none;
  }
}
